Workspaces/BNE/src/BNE-v.Hom_05012017/BNE.Web/Service References/IntegracaoSouEuMesmo/Integracao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Integracao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IIntegracao_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wsdevgeral.soueumesmo.com.br/Integracao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wsdevgeral.soueumesmo.com.br/Integracao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wsdevgeral.soueumesmo.com.br/Integracao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Employer.SouEuMesmo.Web.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegracao_RegistrarFoto_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarFoto" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_RegistrarFoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarFotoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_RecuperarPessoaFisicaCPF_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarPessoaFisicaCPF" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_RecuperarPessoaFisicaCPF_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarPessoaFisicaCPFResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarPessoaFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPessoaFisica" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_AtualizarPessoaFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarPessoaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_UltimaFotoPessoaFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:UltimaFotoPessoaFisica" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_UltimaFotoPessoaFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:UltimaFotoPessoaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_RetornoFotoPessoaFisica_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornoFotoPessoaFisica" />
  </wsdl:message>
  <wsdl:message name="IIntegracao_RetornoFotoPessoaFisica_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornoFotoPessoaFisicaResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegracao">
    <wsdl:operation name="RegistrarFoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/RegistrarFoto" message="tns:IIntegracao_RegistrarFoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/RegistrarFotoResponse" message="tns:IIntegracao_RegistrarFoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarPessoaFisicaCPF">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/RecuperarPessoaFisicaCPF" message="tns:IIntegracao_RecuperarPessoaFisicaCPF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/RecuperarPessoaFisicaCPFResponse" message="tns:IIntegracao_RecuperarPessoaFisicaCPF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarPessoaFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/AtualizarPessoaFisica" message="tns:IIntegracao_AtualizarPessoaFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/AtualizarPessoaFisicaResponse" message="tns:IIntegracao_AtualizarPessoaFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UltimaFotoPessoaFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/UltimaFotoPessoaFisica" message="tns:IIntegracao_UltimaFotoPessoaFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/UltimaFotoPessoaFisicaResponse" message="tns:IIntegracao_UltimaFotoPessoaFisica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornoFotoPessoaFisica">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracao/RetornoFotoPessoaFisica" message="tns:IIntegracao_RetornoFotoPessoaFisica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracao/RetornoFotoPessoaFisicaResponse" message="tns:IIntegracao_RetornoFotoPessoaFisica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IIntegracao" type="tns:IIntegracao">
    <wsp:PolicyReference URI="#WSHttpBinding_IIntegracao_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarFoto">
      <soap12:operation soapAction="http://tempuri.org/IIntegracao/RegistrarFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPessoaFisicaCPF">
      <soap12:operation soapAction="http://tempuri.org/IIntegracao/RecuperarPessoaFisicaCPF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarPessoaFisica">
      <soap12:operation soapAction="http://tempuri.org/IIntegracao/AtualizarPessoaFisica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UltimaFotoPessoaFisica">
      <soap12:operation soapAction="http://tempuri.org/IIntegracao/UltimaFotoPessoaFisica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornoFotoPessoaFisica">
      <soap12:operation soapAction="http://tempuri.org/IIntegracao/RetornoFotoPessoaFisica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Integracao">
    <wsdl:port name="WSHttpBinding_IIntegracao" binding="tns:WSHttpBinding_IIntegracao">
      <soap12:address location="http://wsdevgeral.soueumesmo.com.br/Integracao.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://wsdevgeral.soueumesmo.com.br/Integracao.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>