Workspaces/BNE/src/LanHouse-v.Prd/LanHouse.API/Service References/MeuHoleriteService/SiteComercial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsprdintegracao.meuholerite.com.br/SiteComercial.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="VerificarEnderecoAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarEnderecoAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarEnderecoAcessoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarEmpresasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numCPF" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarEmpresasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetornarEmpresasUsuarioResult" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarregarUrlAcessoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoAcesso" type="xs:int" />
        <xs:element minOccurs="0" name="cpf" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarregarUrlAcessoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarregarUrlAcessoPorIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>