Workspaces/BNE/src/BNE-v.Base/BNE.Web/Service References/SalarioBrReports/SalarioBrReports1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtemPreviewRSM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcao" type="xs:int" />
        <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nivel" type="xs:int" />
        <xs:element minOccurs="0" name="salario" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemPreviewRSMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtemPreviewRSMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>