Workspaces/BNE/src/BNE-v.Hom/BNE.BLL/Service References/wFat/WsIntegracaoFaturamentoFinanceiro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsIntegracaoFaturamentoFinanceiro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Employer.Plataforma.Web.Services.Global" />
      <xsd:import schemaLocation="http://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_IntegrarFaturamentoFinanceiro_InputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarFaturamentoFinanceiro" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_IntegrarFaturamentoFinanceiro_OutputMessage">
    <wsdl:part name="parameters" element="tns:IntegrarFaturamentoFinanceiroResponse" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_ConsultarIntegracaoHistorico_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarIntegracaoHistorico" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_ConsultarIntegracaoHistorico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarIntegracaoHistoricoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_CancelarNotaFiscalIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNotaFiscalIntegracao" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_CancelarNotaFiscalIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNotaFiscalIntegracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_VerificarIntegracao_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarIntegracao" />
  </wsdl:message>
  <wsdl:message name="IWsIntegracaoFaturamentoFinanceiro_VerificarIntegracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarIntegracaoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsIntegracaoFaturamentoFinanceiro">
    <wsdl:operation name="IntegrarFaturamentoFinanceiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/IntegrarFaturamentoFinanceiro" message="tns:IWsIntegracaoFaturamentoFinanceiro_IntegrarFaturamentoFinanceiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/IntegrarFaturamentoFinanceiroResponse" message="tns:IWsIntegracaoFaturamentoFinanceiro_IntegrarFaturamentoFinanceiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarIntegracaoHistorico">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/ConsultarIntegracaoHistorico" message="tns:IWsIntegracaoFaturamentoFinanceiro_ConsultarIntegracaoHistorico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/ConsultarIntegracaoHistoricoResponse" message="tns:IWsIntegracaoFaturamentoFinanceiro_ConsultarIntegracaoHistorico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscalIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/CancelarNotaFiscalIntegracao" message="tns:IWsIntegracaoFaturamentoFinanceiro_CancelarNotaFiscalIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/CancelarNotaFiscalIntegracaoResponse" message="tns:IWsIntegracaoFaturamentoFinanceiro_CancelarNotaFiscalIntegracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarIntegracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/VerificarIntegracao" message="tns:IWsIntegracaoFaturamentoFinanceiro_VerificarIntegracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/VerificarIntegracaoResponse" message="tns:IWsIntegracaoFaturamentoFinanceiro_VerificarIntegracao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro" type="tns:IWsIntegracaoFaturamentoFinanceiro">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntegrarFaturamentoFinanceiro">
      <soap:operation soapAction="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/IntegrarFaturamentoFinanceiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarIntegracaoHistorico">
      <soap:operation soapAction="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/ConsultarIntegracaoHistorico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscalIntegracao">
      <soap:operation soapAction="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/CancelarNotaFiscalIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarIntegracao">
      <soap:operation soapAction="http://tempuri.org/IWsIntegracaoFaturamentoFinanceiro/VerificarIntegracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsIntegracaoFaturamentoFinanceiro">
    <wsdl:port name="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro" binding="tns:BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro">
      <soap:address location="https://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>